.idea/
*.png
4y1m_local.png
CircularSTAR3D.iml
CircularSTAR3D/.idea/

CircularSTAR3D/CircularSTAR3D.iml
CircularSTAR3D/*.class
CircularSTAR3D/STAR3D_struct_info/*

CircularSTAR3D/examples/*
CircularSTAR3D/out/*
CircularSTAR3D/*.aln
CircularSTAR3D/*.pdb
CircularSTAR3D/production/*
CircularSTAR3D/ribozyme_res_0911/
CircularSTAR3D/tools/DSSR/
LocalSTAR3D/.idea/
LocalSTAR3D/STAR3D_struct_info/*
LocalSTAR3D/dssr*
LocalSTAR3D/output*
LocalSTAR3D/riboswitch/
LocalSTAR3D/ribozyme_res_0911/
LocalSTAR3D/tools/DSSR/
LocalSTAR3D/x3dna-dssr.log
circular_ribozyme_pymol/
local_ribozyme_pymol/
notes
output.aln
output.aln1.pdb
output.aln2.pdb
riboswtich_0919/
ribozyme/
ribozyme_aln/
ribozyme_res_0829/
ribozyme_res_rm_4p95/
tmp1.aln
tmp1.aln1.pdb
tools/

